## 김희주

## 문제 82

In [1]:
def fee(km):
    m=(km*1000)//140
    return 4+m
f=int(input('움직인 거리(km)를 입력하시오'))
print(fee(f),'$입니다.')

움직인 거리(km)를 입력하시오13
96 $입니다.

## 문제 84

In [17]:

def mean_value(a,b,c):
    list_l=[a,b,c]
    list.sort(list_l)
    return list_l[1]

a=int(input())
b=int(input())
c=int(input())

mean_value(a,b,c)

14
9
5

9

## 문제 85

In [20]:
def sss(num):
    ordinary_num=['first','second','third','fourth','fifth','sixth','seventh','eighth','ninth','tenth','eleventh','twelfth']
    if num >12 or num <1:
        return ''
    else:
        return ordinary_num[num-1]
        
s=int(input())
sss(s)

12

'twelfth'

## 문제 86

In [22]:
ly=['two','three','four','five','six','seven','eight','nine','ten','eleven','twelve']
item=[' turtle doves,',' French hens,',' calling birds,',' gold rings,',' geese a laying',' swans a swimming',' maids a milking',' drummers drumming',' pipers piping',' ladies dancing',' Lords a leaping']
for i in range(1,13):
    print('On the ',sss(i), 'day of Christmas my true love sent to me')
    print('my true love sent to me:')
    if i==1:
        pass
    else:
        for j in range(1,i):
            print(ly[j-1],item[j-1])
    print('A partridge in a pear tree')
    print('')

On the  first day of Christmas my true love sent to me
my true love sent to me:
A partridge in a pear tree

On the  second day of Christmas my true love sent to me
my true love sent to me:
two  turtle doves,
A partridge in a pear tree

On the  third day of Christmas my true love sent to me
my true love sent to me:
two  turtle doves,
three  French hens,
A partridge in a pear tree

On the  fourth day of Christmas my true love sent to me
my true love sent to me:
two  turtle doves,
three  French hens,
four  calling birds,
A partridge in a pear tree

On the  fifth day of Christmas my true love sent to me
my true love sent to me:
two  turtle doves,
three  French hens,
four  calling birds,
five  gold rings,
A partridge in a pear tree

On the  sixth day of Christmas my true love sent to me
my true love sent to me:
two  turtle doves,
three  French hens,
four  calling birds,
five  gold rings,
six  geese a laying
A partridge in a pear tree

On the  seventh day of Christmas my true love sent to me
my true love sent to me:
two  turtle doves,
three  French hens,
four  calling birds,
five  gold rings,
six  geese a laying
seven  swans a swimming
A partridge in a pear tree

On the  eighth day of Christmas my true love sent to me
my true love sent to me:
two  turtle doves,
three  French hens,
four  calling birds,
five  gold rings,
six  geese a laying
seven  swans a swimming
eight  maids a milking
A partridge in a pear tree

On the  ninth day of Christmas my true love sent to me
my true love sent to me:
two  turtle doves,
three  French hens,
four  calling birds,
five  gold rings,
six  geese a laying
seven  swans a swimming
eight  maids a milking
nine  drummers drumming
A partridge in a pear tree

On the  tenth day of Christmas my true love sent to me
my true love sent to me:
two  turtle doves,
three  French hens,
four  calling birds,
five  gold rings,
six  geese a laying
seven  swans a swimming
eight  maids a milking
nine  drummers drumming
ten  pipers piping
A partridge in a pear tree

On the  eleventh day of Christmas my true love sent to me
my true love sent to me:
two  turtle doves,
three  French hens,
four  calling birds,
five  gold rings,
six  geese a laying
seven  swans a swimming
eight  maids a milking
nine  drummers drumming
ten  pipers piping
eleven  ladies dancing
A partridge in a pear tree

On the  twelfth day of Christmas my true love sent to me
my true love sent to me:
two  turtle doves,
three  French hens,
four  calling birds,
five  gold rings,
six  geese a laying
seven  swans a swimming
eight  maids a milking
nine  drummers drumming
ten  pipers piping
eleven  ladies dancing
twelve  Lords a leaping
A partridge in a pear tree

## 문제 88

In [14]:
def triangle(l):
    list.sort(l)
    a=int(l[0])
    b=int(l[1])
    c=int(l[2])
    if c<=a+b:
        return True
    else:
        return False
cont=0
li=[]
while True:
    try:
        if(cont==3):
            break
        else:
            a=int(input())
            li.append(a)
            cont+=1
    except:
        print('숫자를 입력하시오')

   
        
triangle(li)

1
2
5

False

## 문제 92

In [16]:
def prime(n):
    for i in range(2,n):
        if n%i==0:
            return False
    else:
        return True

nu=int(input())
prime(nu)

27

False